<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav th:fragment="nav">
		<a th:href="@{/}" class="logo">
			<div class="svg-logo-div">
				<img th:src="@{/img/Logo.svg}" alt="Logo de Herculiano">
			</div>
			<div class="title">Herculiano</div>
		</a> <a th:href="@{/}">Inicio</a> <a
			sec:authorize="hasRole('ROLE_CLIENTE')" th:href="@{/usuario}">Usuario</a>
		<a sec:authorize="hasRole('ROLE_EMPLEADO')" th:href="@{/empleado}">Gestión</a>
		<a sec:authorize="hasRole('ROLE_EMPLEADO')" th:href="@{/registros}">Registros</a>
		<a sec:authorize="hasRole('ROLE_EMPLEADO')" th:href="@{/darclientes}">Clientes</a>

		<a th:href="@{/servicios}">Servicios</a> <a th:href="@{/sedes}">Sedes</a>

		<a sec:authorize="isAnonymous()" th:href="@{/login}">
			<div class="svg-user-div">
				<img th:src="@{/img/Iconos/Usuario.svg}" alt="Icono de Usuario">
			</div>
		</a> <a sec:authorize="isAuthenticated()"
			href="javascript: document.logoutForm.submit()" role="menuitem">
			<div class="svg-user-div svg-logout">
				<img th:src="@{/img/Iconos/logout.svg}" alt="Cerrar sesi&oacute;n">
			</div>
		</a>

		<form sec:authorize="isAuthenticated()" name="logoutForm"
			th:action="@{/logout}" method="post" th:hidden="true">
			<input hidden="true" type="submit" value="Sign Out" />
		</form>
	</nav>

</body>
</html>