@import url("https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-color: #e7d28a;
  --main-viewport: calc(100vw - 5px);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #979797;
}

::-webkit-scrollbar-track {
  background: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* nav: Barra de navegación */

nav {
  display: flex;
  align-items: center;
  max-height: 69px;
  background-color: var(--main-color);
  font-family: "El Messiri", sans-serif;
  padding: 0px 20px;
}

nav .logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  font-size: 3.2rem;

  padding: 0px;
}

.logo .svg-logo-div {
  --logo-max-width: 89px;
  --logo-max-height: 69px;
  max-width: var(--logo-max-width);
  max-height: var(--logo-max-height);
  /* padding: 10px; */
}

.svg-logo-div img {
  transform: scale(0.64) translateY(-28%);
  max-width: var(--main-viewport);
  max-height: 111px;
}

.logo .title {
  max-width: 235px;
  max-height: 42px;
  transform: translateY(-44%);
  padding: 0px;
}

nav .svg-user-div {
  max-width: 48px;
  max-height: 48px;
  display: flex;
  align-items: center;
}

.svg-user-div img {
}

nav img {
}

nav a {
  text-decoration: none;
  padding: 0px 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
}

/* fin nav */

/* main: cuerpo principal */

main {
}

main .servicios-title {
  background-color: #1a293e;
  color: white;
  font-size: 210%;
  text-align: center;
  padding: 20px 0px 40px;
  font-family: "El Messiri", sans-serif;
}

.titulogrande{
  left: 35%;
  top: 50%;
  z-index: 102;
  position: absolute;
}
.titulogrande h1{
  color: #d1aa35;
  font-family: "El Messiri", sans-serif;
  font-size: 5rem;
  text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
.titulogrande h1::after,.titulogrande h1::before{
  content: '';
  position: absolute;
  width: 120px;
  height: 15px;
  background-color: currentColor;
  top: 0.6em;
  border: #000 2px solid;
}
.titulogrande h1::after{
  right: -140px;
}
.titulogrande h1::before{
  left: -140px;
}

main .main-servicios-container {
  display: flex;
  flex-direction: column;
}


.main-servicios-container .servicios-container {
    min-height: 330px;
    margin-top: 0px;;
    display:flex;
}

.servicios-container:hover img {
    opacity: 0;
}

.servicios-container:hover h1 {
    opacity: 0;
}

.servicios-container img {
    width: var(--main-viewport);
    object-fit: cover;
    height: 330px;
    position: absolute;
    transition: opacity 400ms ease-out 0ms;
  }
  
.servicios-container h1 {
    position: absolute;
    z-index: 100;
    transition: opacity 400ms ease-out 0ms;
    margin: 21px 24px;
    text-shadow:#fff 0 0px 20px,
                #fff 0 0px 20px,
                #fff 0 0px 20px,
                #fff 0 0px 20px;
}


.servicios-container .item-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: -1;
  padding: 20px 0px;
  margin: 0px auto;
  
}

.servicios-container .item {
  font-size: 0.9rem;
  padding-left: 20px;
  margin: 20px;
  margin-bottom: 0px;
  max-width: 276px;
}



.item h2 {
  text-align: center;
  padding-bottom: 10px;
  font-family: "El Messiri", sans-serif;
}


/* Inicio Nosotros */

main .nosotros-fondo{
  background: linear-gradient(#141e30, #243b55);
}

.nosotros-fondo .nosotros-title {
    font-size: 210%;
    text-align: center;
    padding: 15px  0px;
    color: lemonchiffon;
}


.nosotros-container img {
    object-fit: contain;
    width: 100%;
    border-radius: 10px;
}

.nosotros-container h1 {
    z-index: 100;
    text-align: center;
    color: lemonchiffon;
    text-decoration: underline;
}

.nosotros-container h2 {
  z-index: 100;
  text-align: center;
  color: lemonchiffon;
}

.nosotros-container p {
  z-index: 100;
  text-align: center;
  color: lavenderblush;
}

.nosotros-container .item-wrapper {
    display:flex;
    flex-direction: row;
    justify-content: center;
    z-index: 101;
}

.nosotros-container .item {
    display:flex;
    flex-direction: column;
    font-size: 0.9rem;
    margin:20px;
    margin-bottom: 0px;
    max-width: 276px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color);
    border-radius: 15px;
    box-shadow: 0 0 5px #e7d28a,
                0 0 35px #e7d28a;
    padding: 10px;
}

.pie .title {
    max-width: 235px;
    max-height: 42px;
    transform: translateY(-44%);
    padding: 0px;
}

/* Fin Nosotros */

.backgym{
    background-image: url("../img/random/gymf.jpg");
}

/* fin main */

/* footer: el pie de pagina */

footer {
  padding-top: 80px;
  background-color: #e7d28a;
}

.foot {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  align-items: center;
  text-align: center;
  font-family: "El Messiri", sans-serif;
  padding-bottom: 50px;
}

/* fin footer */

/* Slider */

.container {
  margin: auto;
  width: var(--main-viewport);
  height: 100vh;
  padding: 0px;
}

.container ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.slider {
  position: absolute;
  width: 100%;
  height: inherit;
}

ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity 0.8s;
}

ul.slider li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
  opacity: 1;
}

ul.slider li:target {
  opacity: 1;
}

.menu {
  text-align: center;
  margin: 20px;
}

.menu li {
  display: inline-block;
  text-align: center;
}

.menu li a {
  display: inline-block;
  background-color: #e7d28a;
  opacity: 0.5;
  padding: 10px;
  border-radius: 100%;
}

.indicem {
  margin-top: 95vh;
  margin-left: 46.3%;
  position: absolute;
  z-index: 2;
}

/* Fin Slider */

/* Sedes */
.contenedor {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  padding: 40px 0;
  display: flex;
}

.contenedor-sedes {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border-radius: 10px;
  min-height: 200px;
  font-weight: bold;
  padding: 20px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  width: 23%;
}

.card .textos {
  display: flex;
  height: 100%;
  color: greenyellow;
  flex-direction: column;
  justify-content: space-between;
}

.titulosedes{
    height: 25px;
    color: black;
    background-color: #9C894E;
    border-radius: 5px;
}

.btnsedes{
    width: 100%;
    height: 30px;
    background: #ded9bf;
    justify-content: center;
    color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
.btnsedes span{
    position: relative;
    z-index: 2;
    transition: .3s ease all;
}
.btnsedes:after{
    content: "";
    width: 100%;
    height: 300px;
    background: #e86417;
    position: absolute;
    z-index: 1;
    top: -300px;
    left: 0;
    transition: .3s ease-in-out all;
    border-radius: 0px 0px 300px 300px;
}
.btnsedes:hover::after{
    top: 0;
}

/* INICIO INSCRIPCION */

main .inscribete-wrapper {
  display:flex;
  justify-content:center;
  background: linear-gradient(#141e30, #243b55);
}

.inscribete-wrapper .contenedor-inscribete{
  margin: 2% 0px 6%;
  width: 400px;
  padding: 40px;
  background: rgb(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(0,0,0,.6);
  border-radius: 10px;
  
}

.contenedor-inscribete h2{
  margin: 0 0 30px;
  padding: 0;
  color: #ded9bf;
  text-align: center;
}

.contenedor-inscribete .usuario{
  position: relative;
}

.contenedor-inscribete .usuario input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.contenedor-inscribete .usuario label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.contenedor-inscribete .usuario input:focus ~ label,
.contenedor-inscribete .usuario input:focus ~ label{
  top: -20px;
  left: 0;
  color: aqua;
  font-size: 12px;
}
.contenedor-inscribete form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: aqua;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.contenedor-inscribete a:hover{
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 0 5px #e7d28a,
              0 0 25px #e7d28a,
              0 0 50px #e7d28a,
              0 0 100px #e7d28a;
}

.contenedor-inscribete a span{
  position: absolute;
  display: block;
}

.contenedor-inscribete a span:nth-child(1){
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent,
   #03e9f4);
   animation: btn-anim1 1s linear infinite;

}

@keyframes btn-anim1{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;

  }
}

.contenedor-inscribete a span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent,
   #03e9f4);
   animation: btn-anim2 1s linear infinite;
   animation-delay: .25s;

}

@keyframes btn-anim2{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;

  }
}

.contenedor-inscribete a span:nth-child(3){
  right: -100%;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent,
   #03e9f4);
   animation: btn-anim3 1s linear infinite;
   animation-delay: .25s;

}

@keyframes btn-anim3{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;

  }
}

.contenedor-inscribete a span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(270deg, transparent,
   #03e9f4);
   animation: btn-anim4 1s linear infinite;
   animation-delay: .75s;

}

@keyframes btn-anim4{
  0%{
    left: -100%;
  }
  50%, 100%{
    left: 100%;

  }
}

/* TERMINO DE INSCRIPCION */
