<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<script type='text/javascript' src="js/cliente.js"></script>
<title>Gym Herculiano</title>
</head>
<body class="back2gym">
	<nav th:replace="layout/header_layout :: nav"></nav>
	<div th:replace="layout/header_layout:: subnav" sec:authorize="isAuthenticated()"></div>
	<main>

		<form hidden id="filtradorCliente" th:action="@{/filtradorCliente}">
			<input form="filtradorCliente" type="number" id="planfiltrar" name="planfiltrar">
			<input form="filtradorCliente" type="number" id="sedefiltrar" name="sedefiltrar">
			<input form="filtradorCliente" type="number" id="estadofiltrar" name="estadofiltrar">
        </form>

		<div class="area_trabajo">
			<div class="formulario_datos_apartado">
        <div class="datos_apartado">
					<div class="etiqueta">
						<p>Planes:</p>
					</div>
					<div class="content-select">
						<select id="plan" name="plan">
							<option selected disabled hidden>Elige el Plan</option>
							<option th:each="plan : ${planes}" th:selected="${planSeleccionada==plan.idPlan}" th:value="${plan.idPlan}"
								th:text="${plan.nombre}"></option>
						</select>
					</div>
				</div>

				<div class="datos_apartado">
					<div class="etiqueta">
						<p>Sedes:</p>
					</div>
					<div class="content-select">
						<select id="sede" name="sede">
							<option selected disabled hidden>Elige la Sede</option>
							<option th:each="sede : ${sedes}" th:selected="${sedeSeleccionada==sede.idSede}" th:value="${sede.idSede}"
								th:text="${sede.nombre}"></option>
						</select>
					</div>
				</div>
				<div class="datos_apartado">
					<div class="etiqueta">
						<p>Estado:</p>
					</div>
					<div class="content-select">
						<select id="estado" name="estado">
							<option selected disabled hidden>Elige</option>
							<option value='1'>Activo</option>
							<option value='2'>Suspendido</option>
							<option value='3'>Cancelado</option>
						</select>
					</div>
					<div class="botones_apartado">
						<button type="submit" form="filtradorCliente" class="menubtn2 mbtn">Filtrar</button>
					</div>
					<div class="botones_apartado">
						<button type="submit" class="menubtn2 mbtn" onclick="location.href='/darclientes';">Limpiar</button>
					</div>
				</div>
			</div>

			<div class="tabla_apartado">
				<div class="table-wrapper">
					<table class="fl-table">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Telefono</th>
                				<th>Plan</th>
								<th>Sede</th>
								<th>Estado</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="inscripcion: ${inscripciones}"
								th:id="'row' + ${inscripcion.idInscripcion}">
								<td th:text="${inscripcion.cliente.dni}"></td>
								<td th:text="${inscripcion.cliente.nombre}"></td>
								<td th:text="${inscripcion.cliente.telefono}"></td>
								<td th:text="${inscripcion.plan.nombre}"></td>
								<td th:text="${inscripcion.sede.nombre}"></td>
								<td th:text="${inscripcion.estado}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>
</html>