<!DOCTYPE html>
<html lang="en">
<head>
<title>Portal empleado</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
<script type='text/javascript' src="js/gestion.js"></script>
</head>
<body>
	<nav th:replace="layout/header_layout :: nav"></nav>

	<form hidden method="post" id="registroSalida" th:action="@{/registrarSalida}" >
	</form>

	<form hidden method="post" id="registroEntrada" th:action="@{/registrarEntrada}" >
		<input type="number" form="registroEntrada" id="dni2" name="dni2" >
		<input type="number" form="registroEntrada" id="idsede" name="idsede" >
	</form>


	<main class="Empleado">
		<center style="color: white;">
			<br>
			<br>
			<br>
			<table style="text-align: center;">
				<tr>
					<td style="padding-top: 40px;">
						<button type="submit" class="menubtn3 mbtn" form="add">Buscar</button>
					</td>
					<td>
						<h1>DNI</h1>
						<input type="number" style="width: 200px; font-size: large; text-align: center;" form="registroSalida" id="dni" name="dni">
					</td>
					<td>
						<h1>Sede</h1>
						<select th:field="*{sede}" form="registroEntrada" id="sede" name="sede">
							<option th:each="sede : ${sede}" th:value="${sede.idSede}" th:text="${sede.nombre}"></option>
						</select>
					</td>
				</tr>
			</table>
		</center>
		<div class="contenedor-pla">
			<div class="contenedor-ingreso">
				<div class="card" style="background-color: lemonchiffon;">
					<div class="textosp">
						<h3 class="tituloingreso">INGRESO</h3>

						<button class="btnsedes" type="submit" form="registroEntrada">
							<span>Registrar</span>
						</button>
					</div>
				</div>

				<div class="card" style="background-color: wheat;">
					<div class="textosp">
						<h3 class="tituloingreso">SALIDA</h3>

						<button class="btnsedes" type="submit" form="registroSalida">
							<span>Registrar</span>
						</button>

					</div>
				</div>
			</div>
			<div class="fecha">
				<p th:text="${mensaje}"></p>
			</div>
			<div id="current_date" class="fecha">
				</p>
				<script>
					document.getElementById("current_date").innerHTML = Date();
				</script>
			</div>
	</main>

	<footer th:replace="layout/footer_layout :: footer"></footer>

</body>
</html>
