<!DOCTYPE html>
<html lang="en">

<head>
    <title>Gym Herculiano</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <nav th:replace="layout/header_layout :: nav"></nav>
    <div th:replace="layout/header_layout:: subnav" sec:authorize="isAuthenticated()"></div>

    <main>
        <div>
            <div class="container">
                <div class="titulogrande">
                    <h1>HERCULIANO</h1>
                </div>
                
                <div class="indicem">
                    <ul class="menu">
                        <li>
                            <a href="#slide1"></a>
                        </li>
                        <li>
                            <a href="#slide2"></a>
                        </li>
                        <li>
                            <a href="#slide3"></a>
                        </li>
                        <li>
                            <a href="#slide4"></a>
                        </li>
                        <li>
                            <a href="#slide5"></a>
                        </li>
                        <li>
                            <a href="#slide6"></a>
                        </li>
                    </ul>
                </div>
                <ul class="slider">
                    <li id="slide1">
                        <img src="img/index/foto.jpg" />
                    </li>
                    <li id="slide2">
                        <img src="img/index/foto2.jpg" />
                    </li>
                    <li id="slide3">
                        <img src="img/index/foto3.jpg" />
                    </li>
                    <li id="slide4">
                        <img src="img/index/foto4.jpg" />
                    </li>
                    <li id="slide5">
                        <img src="img/index/foto5.jpg" />
                    </li>
                    <li id="slide6">
                        <img src="img/index/foto6.jpg" />
                    </li>
                </ul>
            </div>
        </div>
    </main>
	
	<footer th:replace="layout/footer_layout :: footer"></footer>
	
</body>

</html>