<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<title>Gym Herculiano</title>
</head>

<body>
	<nav th:replace="layout/header_layout :: nav"></nav>
	
	<main>

		<div class="inscribete-wrapper">
			<div class="contenedor-inscribete">
				<h2>Registrate</h2>

				<form id="registro" method="POST" th:object="${inscripcion}"
					th:action="@{/inscribirse}">

					<div class="usuario">
						<input type="text" th:field="*{cliente.dni}" maxlength="8"
							required> <label>DNI:</label>
					</div>
					<div class="usuario">
						<input type="text" th:field="*{cliente.nombre}" required>
						<label>Nombres:</label>
					</div>
					<div class="usuario">
						<input style="margin-bottom: 9px;" type="text"
							th:field="*{cliente.telefono}" required> <label>Telefono:</label>
					</div>
					<div class="usuario">
						<label>Sede:</label><br>
						<br> <select name="select" th:field="*{sede}">
							<option th:each="sede : ${sedes}" th:value="${sede.idSede}" th:text="${sede.nombre}"></option>
						</select>
					</div>
					<div class="usuario">
						<label>Plan:</label> <br>
						<br>
					</div>
					<select name="select" th:field="*{plan}">
						<option name="plan" value="1">Plan Standard</option>
						<option name="plan" value="2" selected>Plan Pro</option>
						<option name="plan" value="3">Plan Herculiano</option>
					</select> <br>
					<br>
					<div class="usuario">
						<input style="margin-bottom: -8px;" type="password"
							th:field="*{cliente.contrasena}" required> <label>Contraseña:</label>
					</div>
					<center>
						<button type="submit" class="menubtn4 mbtn" form="registro">Registrate</button>
					</center>

					<div style="color: white; padding-top: 15px; text-align: center"
						th:if="${error != null}">
						<p th:text="${error}"></p>
					</div>
				</form>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>

</html>