<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<title>Gym Herculiano</title>
</head>

<body>
	<nav th:replace="layout/header_layout :: nav"></nav>
	
	<main>

		<div class="inscribete-wrapper">
			<div class="contenedor-inscribete">
				<h2>Inicio de Sesion</h2>

				<form id="registro" method="POST" th:action="@{/login}">

					<div class="usuario">
						<input type="text" name="username" id="username" required>
						<label>DNI:</label>
					</div>
					<div class="usuario">
						<input type="password" name="password" id="password" required>
						<label>Contraseña:</label>
					</div>
					<div class="btnLogin">
						<button type="submit" class="menubtn2 mbtn" form="registro">Login</button>
						<a th:href="@{/inscripcion}">
							<p style="color: black;">Registrate</p>
						</a>
					</div>

					<div style="color: white; text-align: center; padding-top: 15px"
						th:if="${param.error}">Usuario o contrase&ntilde;a
						incorrectos.</div>
					<div style="color: white; text-align: center; padding-top: 15px"
						class="msg" th:if="${param.logout}">Has cerrado
						sesi&oacute;n.</div>
				</form>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>

</html>