<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pagos</title>
</head>
<body>
  <nav th:replace="layout/header_layout :: nav"></nav>

  <div class="pagos-fondo">
    <section class="pagos-form-register">
        <center><h4>PAGOS</h4></center>
        <input class="pagos-controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre">
        <input class="pagos-controls" type="number" name="DNI" id="DNI" placeholder="DNI">
        <input class="pagos-controls" type="email" name="correo" id="correo" placeholder="Ingrese su correo">
        <p>Seleccione el tipo de plan que tiene</p>
        <input type="radio" id="op1" name="radio">
        <label for="opcional1">Standar</label><br>
        <input type="radio" id="op2" name="radio">
        <label for="opcional2">Pro</label><br>
        <input type="radio" id="op3" name="radio">
        <label for="opcional3">Herculiano</label><br><br>
        <input class="pagos-controls" type="number" name="pago" id="pago" placeholder="Ingrese el monto a pagar">
        <label for="date">Fecha de inscripcion</label><br><br>
        <input type="date" name="fecha" id="date"><br><br>  

        
        <label for="checkbox">Desea informacion sobre su pago realizado</label>
        <input type="checkbox" name="" id="checkbox">

        <input class="botons" type="submit" value="Buscar">

        <input class="botons" type="submit" value="Renovar plan">
        
    </section>
  </div>
  <footer th:replace="layout/footer_layout :: footer"></footer>
</body>
</html>