<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Pagos</title>
</head>
<body>
  <nav th:replace="layout/header_layout :: nav"></nav>
<div th:replace="layout/header_layout:: subnav" sec:authorize="isAuthenticated()"></div>
  <div class="pagos-fondo">
    <section class="pagos-form-register">
        <center><h4>PAGOS</h4></center>
        <form id="pago" method="POST" th:object="${registroPago}" th:action="@{/pagar}">
	        <input class="pagos-controls" type="text" th:field="*{cliente.dni}" placeholder="DNI">
	        
	        <p style="text-align: left;font-size: 20px;height: 30px;">Plan: </p>
	        
	        <select name="select" th:field="*{plan}">
				<option name="plan" value="1" >Plan Standard - S/. 69.90</option>
				<option name="plan" value="2" selected>Plan Pro - S/. 99.90</option>
				<option name="plan" value="3">Plan Herculiano - S/. 169.90</option>
			</select>
					<br>
	        	               
	        <input class="botons" type="submit" value="Renovar plan">
        </form>
        <div style="color: white; padding-top: 15px; text-align: center"
			th:if="${msg != null}">
			<p th:text="${msg}"></p>
		</div>
    </section>
  </div>
  <footer th:replace="layout/footer_layout :: footer"></footer>
</body>
</html>