<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../css/style.css">
<title th:text="${'Sede ' + sede.nombre}"></title>
</head>
<body>
	<nav th:replace="layout/header_layout :: nav"></nav>
	<div th:replace="layout/header_layout:: subnav" sec:authorize="isAuthenticated()"></div>
	<main class="fondo_sedes">
		<div class="contenedor_sedes">
			<div class="area_informacion">
				<div class="area_imagen">
					<img class="imagenes_sedes"
						th:src="@{${'../img/sedes/' + sede.imagen}}" alt="">
				</div>
				<div class="area_texto">
					<h1 th:text="${sede.nombre}">LIMA</h1>
					<h2>Direccion:</h2>
					<p th:text="${sede.direccion}">Av. Oscar R. Benavides 669 -
						Lima, Lima - 15082</p>
					<h2>Horarios:</h2>
					<div class="horario_sedes">
						<p>
							Lun a Vie:<br> Sáb:<br> Dom/Feriados:
						</p>
						<p>
							6AM - 11PM<br> 8AM - 6PM<br> 9AM - 3PM
						</p>
					</div>
				</div>
			</div>
			<div class="espacio_boton_sedes">
				<div class="boton_sedes">
					<a th:href="@{/inscripcion/} + ${sede.idSede}"><button class="btnsedes">
							<span>Inscribete</span>
						</button></a>
				</div>
			</div>
		</div>
	</main>

	<footer th:replace="layout/footer_layout :: footer"></footer>

</body>
</html>