<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<script type='text/javascript' src="js/registros.js"></script>
<title>Gym Herculiano</title>
</head>
<body class="back2gym">
	<nav th:replace="layout/header_layout :: nav"></nav>

	<main>

		<form hidden  id="buscador1" th:action="@{/registros}">
        </form>
		<form  id="buscador2" th:action="@{/registros}">
			<input hidden form="buscador2" type="number" id="sed" name="sed" th:value="${sed}">
        </form>

		<div class="area_trabajo">
			<div class="formulario_datos_apartado">
				<div class="datos_apartado">
					<div class="form__group field">
						<input type="text" form="buscador1" required placeholder="Nombre"
							class="form__field" id="dni" name="dni" th:value="${dni}">
							<label class="form__label" for="name">DNI</label>
					</div>
					<div class="botones_apartado">
						<button type="submit" form="buscador1" class="menubtn2 mbtn">Buscar</button>
					</div>
				</div>

				<div class="datos_apartado">
					<div class="etiqueta">
						<p>Sedes:</p>
					</div>
					<div class="content-select">
						<select id="sede" name="sede">
							<option selected disabled hidden>Elige la Sede</option>
							<option th:each="sede : ${sedes}" th:selected="${sedeSeleccionada==sede.idSede}" th:value="${sede.idSede}"
								th:text="${sede.nombre}"></option>
						</select>
					</div>
					<div class="botones_apartado">
						<button type="submit" form="buscador2" class="menubtn2 mbtn">Buscar</button>
					</div>
				</div>
				<div class="datos_apartado">
					<div class="botones_apartado">
						<button type="submit" class="menubtn2 mbtn" onclick="location.href='/registros';" >Limpiar</button>
					</div>
				</div>
			</div>
			<div class="tabla_apartado">
				<div class="table-wrapper">
					<table class="fl-table">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Entrada</th>
								<th>Salida</th>
								<th>Sede</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="registro: ${registros}"
								th:id="'row' + ${registro.idRegistro}">
								<td th:text="${registro.cliente.dni}"></td>
								<td th:text="${registro.cliente.nombre}"></td>
								<td th:text="${registro.fechaEntrada} ?:'Sin registro'"></td>
								<td th:text="${registro.fechaSalida} ?:'Sin registro'"></td>
								<td th:text="${registro.sede.nombre}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>
</html>