<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/style.css">
<title>Gym Herculiano</title>
</head>
<body class="back2gym">
	<nav th:replace="layout/header_layout :: nav"></nav>

	<main>
		<div class="area_trabajo">
			<div class="formulario_datos_apartado">
				<div class="datos_apartado">
					<div class="form__group field">
						<input type="text" form="add" required placeholder="Nombre"
							class="form__field" id="nombre" name="nombre"> <label
							class="form__label" for="name">DNI</label>
					</div>
					<div class="botones_apartado">
						<button type="submit" class="menubtn2 mbtn" form="add">Buscar</button>
					</div>
				</div>

				<div class="datos_apartado">
					<div class="etiqueta">
						<p>Sedes:</p>
					</div>
					<div class="content-select">
						<select class="menubtn2 mbtn" form="add" id="acceso" name="acceso">
							<option>Administrador</option>
							<option>Usuario</option>
						</select>
					</div>
					<div class="botones_apartado">
						<button type="submit" class="menubtn2 mbtn" form="add">Buscar</button>
					</div>
				</div>
			</div>
			<div class="tabla_apartado">
				<div class="table-wrapper">
					<table class="fl-table">
						<thead>
							<tr>
								<th>DNI</th>
								<th>Nombre</th>
								<th>Entrada</th>
								<th>Salida</th>
								<th>Sede</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="registro: ${registros}"
								th:id="'row' + ${registro.idRegistro}">
								<td th:text="${registro.cliente.dni}"></td>
								<td th:text="${registro.cliente.nombre}"></td>
								<td th:text="${registro.fechaEntrada}"></td>
								<td th:text="${registro.fechaSalida}"></td>
								<td th:text="${registro.sede.nombre}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>
</html>