<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="css/style.css" />
<title>Nuestras sedes</title>
</head>

<body class="backgym">
	<nav th:replace="layout/header_layout :: nav"></nav>
	<div th:replace="layout/header_layout:: subnav" sec:authorize="isAuthenticated()"></div>
	<main>
		<div class="contenedor">

			<div class="contenedor-sedes">

				<div th:each="sede : ${sedes}" class="card"
					th:style="'background-image :url(img/sedes/' + ${sede.imagen} + ');'">
					<div class="textos">
						<h3 class="titulosedes" th:text="${sede.nombre}"></h3>
						<a th:href="@{/sedes/} + ${sede.idSede}"><button
								class="btnsedes">
								<span>Informaci&oacute;n</span>
							</button></a>
					</div>
				</div>

			</div>
		</div>
	</main>

	<footer th:replace="layout/footer_layout :: footer"></footer>
</body>

</html>