<!DOCTYPE html>
<html lang="en">
<head>
<title>Usuario</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/style.css">
</head>
<body class="backgym">
	<nav th:replace="layout/header_layout :: nav"></nav>

	<main>
		<div class="area_trabajo">
			<div class="tabla_apartado">
				<div class="table-wrapper">
					<table class="fl-table">
						<thead>
							<tr>
								<th>Entrada</th>
								<th>Salida</th>
								<th>Sede</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="usuario: ${usuarios}"
								th:id="'row' + ${usuario.idUsuario}">
								<td th:text="${usuario.entrada}"></td>
								<td th:text="${usuario.salida}"></td>
								<td th:text="${usuario.sedes}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer th:replace="layout/footer_layout :: footer"></footer>

</body>
</html>
